<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        .myboard {
            width: 95%;
            max-width: 1000px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 1px 0px gray;
        }
    </style>
    <script>
        function save_post() {
            let nickname = $('#nickName').val()
            let password = $('#post_password').val()
            let post_title = $('#post_title').val()
            let contents = $('#contents').val()
            let category = $('#category').val()
            let post_num
            $.ajax({
                type: 'POST',
                url: '/toyproject',
                data: {nickname_give:nickname,
                    post_password_give:password,
                    post_title_give: post_title,
                    contents_give: contents,
                    category_give: category},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }
    </script>
</head>
<body>
<div class="myboard">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="mb-3">
                    <div style="margin-bottom: 20px; width: 200px;">
                        <select class="form-select form-select-sm" aria-label=".form-select-lg sm" id="category">
                            <option selected>카테고리</option>
                            <option value="직장인">직장인</option>
                            <option value="취준생">취준생</option>
                            <option value="구경꾼">구경꾼</option>
                        </select>
                    </div>
                    <div class="row-2" style="margin-bottom: 20px;">
                        <div>
                        닉네임: <input type="email" id="nickName" style="margin-right: 20px; width: 150px;">
                        비밀번호: <input type="email" id="post_password">
                        </div>
                    </div>
                    <label for="post_title" class="form-label">제목</label>
                    <input type="email" class="form-control" id="post_title">
                </div>
                <div class="mb-3">
                    <label for="contents" class="form-label">내용</label>
                    <textarea
                            class="form-control"
                            id="contents"
                            placeholder="내용을 입력해주세요."
                            style="height: 300px;">
                    </textarea>
                </div>
            </div>
            <button class="btn btn-outline-success me-2" type="button" onclick="save_post()">완료</button>
            <button class="btn btn-outline-success me-2" type="button">나가기</button>
        </div>
    </div>
</div>


</body>
</html>